.container{
    margin-top: 10px;
    text-align: center;
    border: 100px;
    width: 250px;
    height: 350px;
    border-radius: 30px;
    background-color: whitesmoke;
}
body{
    background-color: bisque;
}
body{
    margin-left: 800px;
    margin-top: 250px;
}